<main><h1>Novo Projeto</h1>

        <h1>Criar Novo Projeto</h1>
  
        <!-- Caixa de entrada para o nome do projeto -->
        <input type="text" id="projectNameInput" placeholder="Nome do Projeto">
        
        <!-- Botão para criar o projeto -->
        <button id="createProjectBtn">Criar Projeto</button>
      
        <!-- Exibição de feedback -->
        <p id="feedback"></p>
        
</main>
<script type="module" src="js/novo_projeto.js"></script>
<!-- <script type="module" src="js/spc_spc.js"></script> -->