


<%-include("partials/header.ejs")  %>
<p>José Nicolau Varela (<i>Nico Varela</i>) - Chief Audio Engineer & Producer</p>
<figure><img class="profile" src="images/IMG_1023.jpg" alt="cat profile">
<figcaption>Visitando Abbey Road Studios - 2024</figcaption>

</figure>

<p style="color:rgb(222, 222, 219); font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
  Plataforma criada e implementada por <b style="color:rgb(250, 250, 249)">José Nicolau Varela</b>.  
  Desde 1990, <i>Nico Varela</i> tem se especializado em engenharia de áudio, obtendo nesse periodo, ampla experiência
  em produção musical, produção publicitária, audiolivros e diversos projetos musicais.
  Como engenheiro de áudio chefe e produtor na Web Audio Studio, trabalhou em inúmeros
  projetos, entregando conteúdo de áudio de alta qualidade para uma ampla gama de
   clientes.</p>
<p style="color:rgb(217, 245, 5)"><i>Engenheiro de áudio, músico (piano, violão, baixo), Maestro-arranjador e Produtor Musical. </i></p>
<p style="color:rgb(217, 245, 5)"><i>Formação Academica: Engenharia Eletrônica no Instituto Federal de Santa Catarina (IFSC), Brasil.</i></p>

<section id="skills" class="content">
  <div class="container"  ></div>>
      <h2 style="color:rgb(143, 143, 117)">  Habilidades</h2>
      <ul style="list-style: none;color:rgb(143, 143, 117)">
          <li>Produção de Áudio</li>
          <li>Produção Publicitária</li>
          <li>Audiolivros</li>
          <li>Gravação em Estúdio</li>
          <li>Tecnologia de IA</li>
      </ul>
  </div>
</section>
 
<p style="color:rgb(143, 143, 117)"><a href="samples">Portifolio com algumas amostras.▶️</a></p>

<section id="contact" class="content" style= "color:rgb(143, 143, 117)">
  <div class="container">
      <h2>Contato</h2>
      <div class="contact-info">
         
          <p><strong>Email:</strong> nico@radiobroad.com</p>
          <!-- <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/jos%C3%A9-nicolau-varela-a1a8925b/">[Seu Perfil no LinkedIn]</a></p> -->
            <li><a href="https://www.linkedin.com/in/jos%C3%A9-nicolau-varela-a1a8925b/"><ion-icon name="logo-linkedin"></ion-icon></a></li> 
  </div>
</section>

  