<%-include("partials/header.ejs")  %>


    <main>
        <section>
            <!-- <img style="height: 140px; width: auto;" src="images/radio2.png" alt="Imagem Principal" class=" img-fluid img-principal"> -->
              
           
            <h1 style="color:rgb(241, 237, 233); font-size: 80px;">Web Audio Studio</h1>
            <br>
            <br>
            <h2 style="color:rgb(117, 99, 78); text-align: center;margin-left: 30px;"><b>   Audio Studio on-line (Test Version) </b></h2>
            <p>Edit and Mix, download your mixed audio file.</p>

            <label style="background-color: rgb(20, 13, 3); border: 5px ridge ;border-radius: 10px;">
                <a href="studio" style="font-size:larger; color:rgb(238, 231, 231);text-decoration: none;">Go to the studio ➡️ </a>
            </label>
           
           
        </section>
        <section id="services" class="services">
            <div class="container" id="destaque"> 
                
                 <!-- <h3 ><a href="studio">🆕 Produção de Comercial de Rádio - Eleições 2024</a></h3> -->
               
                 
                <!-- <ul style="list-style: none;">
                     <li></li>
                     <li>Upload ou gravação do candidato e convidados. </li>
                     <li>Upload ou geração de locução (Âncora).</li>
                     <li>Upload ou gravação de depoimentos.</li>
                     <li>Upload ou geração de trilha sonora.</li>
                      <li>Upload ou geração de vinhetas.</li>
                      <li>Ajustes de tempo e volume.</li>
                      <li>Uso de IA em tecnologia de áudio.</li>
                      <li>Download do audio mixado.</li>
                      <li><a href="studio">ENTRAR NO ESTÚDIO</a></li>
                </ul>       -->
            </div>     
        </section>
    </main>
   

<%-include("partials/footer.ejs")  %>
</body>
</html>
