<%-include("partials/header.ejs")  %>

<main>
<div class="container row">
   
    <div class="estudio col-md-12">
        <section class="novo_projeto"><%-include("partials/mixer.ejs")  %></section> 
     </div> 
   
 </div> 
 </main>  

